{{define "content"}}
<main class="col-sm-9 col-md-10 pr-sm-5">
    <h1 class="mb-3 pb-3">Managers</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {{ range .Managers.Managers}}
            <tr>
                <td>1</td>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</main>
{{end}}
